form {
  max-width: 680px;
}
label {
  display: block;
  margin-top: 15px;
}
label span {
  display: block;
  margin-bottom: 5px;
}
label input, label textarea {
  padding: 5px;
  width: 100%;
}
label input:focus, label textarea:focus {
  outline-color: orangered;
}

input#send_btn {
  margin: 8px;
  margin-left: 0;
  padding: 10px;
  font-size: 1.2em;
}