article {
    margin: auto 20%;
}
#arti_info {
    color: #828282;
}
article h1 {
    font-weight: normal;
}
#author_cntr {
    margin: 40px 0;
    max-width: 65%;
    display: flex;
}
#author_cntr img {
    height: 150px;
    border-radius: 21px;
}
#author_cntr p {
    margin: 0 10px;
}